.hero-image-wrapper {
	position: relative;
	width: 100%;
	height: 40vh;
	img {
		object-fit: cover;
	}
}
.hero-promotion {
	text-align: right;
	max-width: 1400px;
	margin: 0 auto;
	padding: 1rem;
	svg {
		margin-right: .25rem;
		vertical-align: top;
	}
}