.verified-label {
	display: block;
	text-transform: uppercase;
	color: rgb(27, 149, 224);
	font-weight: 600;
	font-size: .675rem;
	margin: .5rem 0 .5rem 0;
}
.label {
	font-size: 1rem;
	&.sponsored {
		color: yellow;
	}
	&__subtle {
		color: #617b96;
	}
	&__secondary {
		font-size: .875rem;
		color: #425466;
	}
	&__strong {
		font-weight: 600;
	}
	&__verified {
		&:after {
			margin-left: .25rem;
			display: inline-block;
			content: ' ';
			background-image: url('/icons/verified.svg');
			background-size: 21px 21px;
			height: 21px;
			width: 21px;
			vertical-align: middle;
		}
	}
}
