// nav bar
.nav-wrapper {
	border-bottom: solid 1px #e9ebee;
}
nav {
	box-sizing: border-box;
	padding: .875rem 1rem;
	display: flex;
	margin: 0 auto;
	logo {
		margin-top: .25rem;
		a {
			border: none;
		}
		font-size: 1.5rem;
		font-weight: 700;
		vertical-align: bottom;
	}
	ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		font-weight: 600;
		line-height: 30px;
		margin: 0rem 0 0 auto;
    	>li {
    		margin-right: .5rem;
    		font-size: .875rem;
    		&:last-of-type {
    			margin: 0;
    		}
    		>a, #profile-button {
    			font-weight: 600;
    			padding: 0.5rem 1rem;
    			display: block;
    			border: none;
	    		border-radius: 20px;
	    		&:hover {
		    		background: #f5f6f7;
		    		cursor: pointer;
		    	}
		    	&.active {
			    	background: #f5f6f7;
			    	border-radius: 20px;
					color: #007AFF;
		    	}
	    	}
	    	.button {
	    		padding: .5rem 1rem;
	    	}
    	}
    }
}
@media screen and (min-width: 40em) {
	nav {
		padding: .875rem 2rem;
		>ul {
			>li {
				>a {
		    		padding: .5rem 1rem;
		    	}
			}
		}
	}
}








/* 
.nav-icon {
	margin-top: 5px;
	display: block;
	height: 25px;
	width: 25px;
}*/
    
