.review-list {
	list-style-type: none;
	margin: 0;
	.grid {
		grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
	}

}

@media screen and (min-width: 52em) {
	.review-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 65em) {
	.review-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

.comment-box {
	margin-bottom: 4rem;
	textarea {
		background: none;
		margin: 1rem 0 1rem 0;
		width: 100%;
		padding: 0;
		line-height: 1.3;
		border: none;
		border-bottom: solid 1px #ccc;
		border-radius: .125rem;
		resize: none;
		&:focus {
			outline: none;
		}
	}
	button {
		display: flex;
  		align-items: right;
	}
}
.review {
	border-bottom: solid 1px #e9ebee;
	margin: 2rem 0 1.5rem 0;
	.location {
		display: block;
		font-size: .875rem;
	}
	.trip-dates {
		font-size: .875rem;
	}
	&:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}
	p {
		font-size: 1rem;
	}
	img {
		object-fit: cover;
	}
}
.reviewer-wrapper {
	a {
		border: none;
	}
	display: flex;
	.profile-img {
		width: 45px;
		height: 45px;
		margin-right: .5rem;
	}
	.comment {
		display: block;
	}
	.label__handle {
		margin: 0 .5rem;
	}
}
.reviews {
	margin: 0;
	.rating {
		display: flex;
		background: #efefef;
		padding: 1rem;
		font-size: 2rem;
		font-weight: 800;
		img {
			height: 35px;
			width: 35px;
			margin-right: 1rem;
		}
	}
}